<form>
    <div class="dialog-content-common">
        {{> 'systems/sr4/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            {{> 'systems/sr4/dist/templates/apps/dialogs/parts/attack-range-dialog-fragment.hbs'}}
        </div>
        <div>
            {{> 'systems/sr4/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
        </div>
    </div>
</form>